input[type=datetime-local], input[type=text] {
	font-family: "Righteous";
	border: none;
	border-bottom: 2px solid black;
	margin-bottom: 2%;
	margin-left: 20%;
	text-align: center;
	width: 60%;
}

input[type=text]:focus, input[type=datetime-local]:focus {
	outline: none;
}

#add-button {
	width: 60%;
	text-align: right;
	margin-left: 20%;
	color: #404040;
}

.edit-ev, .delete-ev {
	margin-top: 2%;
	color: #f73849;
}

.edit-ev {
	margin-left: 90%;
}

ul {
	margin-left: -10%;
}

li {
	list-style: none;
	padding: 5%;
	color: #f4f4f4;
	background-color: #273849;
	border-bottom: 2px solid #f73849;
}

li:last-child {
	border-bottom: none;
}